# General information:
general:
  ssh_repo_url: 'git@github.com:johankladder/yii2-app-advanced.git'

# Staging servers:
server:
  # The production server
  production:
    host: 'applicationname.com'
    stage: 'production'
    branch: 'master'
    deploy_path: '/var/www/applicationname.com'
    ssh_user: 'username'

  # The development server
  development:
    host: 'dev.applicationname.com'
    stage: 'development'
    branch: 'develop'
    deploy_path: '/var/www/dev.applicationname.com'
    ssh_user: 'username'

  # An custom deployment server:
  custom:
    host: 'localhost'
    stage: 'test'
    branch: 'develop'
    deploy_path: '/var/www/test.local'
    ssh_user: 'johankladder'
    settings:
      yii:
        init: 'Development'
      files:
        upload_files:
          - 'common/config/config.yml'
      migrations:
        rbac: true
        db: true
      sync_folders:
        uploads:
          create_if_not_exists: true
          source: 'shared/uploads/'
          dest: 'shared/uploads'
