general:
  shh_repo_url: 'git@github.com:johankladder/yii2-app-advanced.git'
server:
  production:
    host: 'applicationname.com'
    stage: 'production'
  development:
    host: 'dev.applicationname.com'
    stage: 'development'
  custom:
    host: 'localhost'
    stage: 'test'
