# Database information
database:
  location: "localhost" # Location of the database, mostly localhost.
  name: "yii2advanced" # The name of the database.
  username: "root" # Username of user with rights to database.
  password: "" # Password of the above user.
